<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SolutionMapper">

    <resultMap id="BaseResultMap" type="com.qianxun.qianxunojbackendmodel.model.entity.Solution">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="viewcount" column="viewCount" />
            <result property="upvotecount" column="upvoteCount" />
            <result property="downvotecount" column="downvoteCount" />
            <result property="favoritecount" column="favoriteCount" />
            <result property="userid" column="userId" />
            <result property="questionid" column="questionId" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,viewCount,upvoteCount,downvoteCount,
        favoriteCount,userId,questionId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
